
/*Background and Page settings*/
.page {
display: grid;
grid-template-areas:
"header header header"
"article article article"
"footer footer footer";

/*grid-template-columns: 20% 1fr 15%;*/

grid-auto-rows: 10vw minmax(78vh,auto) 8vh;
grid-gap: 10px;

margin: 0;
background-image: url("backgroundcomputer.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/*Setting up Grids*/
header { grid-area: header;}
footer {grid-area: footer;}
article { grid-area: article;align-items: start;}


/*Syles*/
header, footer, article {
padding:10px;
background: rgb(0, 0, 0); /* Fallback color */
background: rgba(0, 0, 0, 0.5); /* Black background with 0.5*/
color: rgb(255, 255, 255);
}
article {
	padding:0px;
}

/*Title effects and cut out style*/
#pageTitle {
background-color: white;
color: black;
font-size: 8vw;
top: 4.5vw;
font-weight: bold;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
margin: 0 auto;
padding: 10px;
position: absolute;
text-align: center;
white-space: nowrap;
left: 50%;
transform: translate(-50%, -50%);
mix-blend-mode: screen;
}

.articleGrid {
	display: grid;
	grid-template-areas:
	"column1 column2"
	"articleFooter articleFooter";
	grid-template-columns: 50% 50%;
	grid-gap: 10px;
}

/*Page Columns*/
.column1{

}
a{
	color:white;
	font-size:2vw;
}

a:hover {
	color:#ECFF65;
}

.column2{
	margin-left: auto;

	width: 80%;
}
.articleFooter {

		margin-left: auto;
		font-size: 36px;
		text-align: center;

}
.articleFooter a{
	color:white;
}
.articleFooter a:hover{
	color:#ECFF65;
}
#transition {
	width: 90vw;
	/*box-shadow: 0 0 2px 4px rgba(255,255,255,.7);*/
	font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	color: rgb(0, 0, 0, 0);
 	animation: addText 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	line-height: 3.5vh;
}
@keyframes addText {
  from {font-size: 0vw; }
  to {
	  font-size: 4.5vw;
	  color: rgb(255, 255, 255, 1);
	}
}
#top{margin: 2%}
#middle{margin-left:17%;}
#bottom{margin-left:15%;}


#myList {
	opacity: 0;
	animation: fadeIn 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	list-style-position: inside;
	padding:0;
	font-size: 2vw;
}

.curriculum {
	opacity: 0;
	animation: fadeIn 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	padding:0;
	font-size: 2vw;
}


.links a{
	color:white;
	
}

.links a:hover {
	color:#ECFF65;
}

/*Parallax Scroll, not really working yet*/
/*.parallax{
	height:0px;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8);
	color:#F9F4F4;
	font-weight: bold;
	font-size:36px;
}*/

form {
	cursor: pointer;
	display: inline;
}
button {
	cursor: pointer;
}



/*-----------------------------------------------------*/
/*Effect for Side Panel, Hamburger Icon */
.container {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
 position: absolute;
  width: 35px;
  height: 5px;
  background-color: #E7E7E7;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
 -webkit-transform: translate(100px, 0px);
transform: translate(300px, 0px) rotate(-45deg);
}

.change .bar2 {opacity: 0;
-webkit-transform: translate(200px, 0px);}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
 -webkit-transform: translate(100px, 0px);
 transform: translate(300px, 0px) rotate(45deg);

}

/*Title Animations*/
.fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/*-----------------------------------------------------*/
/* The side navigation menu */
.sidenav {
  height: 90vw;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0vw ;
  left: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, .8); /* Black background with 0.5 opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.addLinks {
opacity: 1;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 36px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #D3D3D3;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ECFFA7;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




/*-----------------------------------------------------*/
/*To Do List*/
/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}
/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: rgb(0,0,0,.3);
  font-size: 18px;
  transition: 0.2s;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: rgb(250,250,250,.5);
	color:#000000;
}

/* Darker background-color on hover */
ul li:hover {
   background: rgb(250,250,250,.8);
}
ul li:nth-child(even):hover {
  background: rgb(0,0,0,.6);
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: rgb(0,0,0,.6);;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked:before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.arrow i {
  padding: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.arrow i:hover {
  transform: rotateZ(-90deg);
}
